html, body {
    height: 100%;
}


body {
    margin: 0;
    padding: 0;
    /*background: url(../css/background.png) no-repeat;*/
    background-color: #1b4b72;
    background-size: cover;
    /* overflow: hidden; */
}

.camera-tip {
    position: absolute;
    top: 45%;
    width: 100%;
    z-index: -2;
    text-align: center;
    color: whitesmoke;
}


.header {
    padding: 45px;
    color: rgb(213, 253, 255);
    font-size: 30px;
    font-family: SimHei;
}

.ps {
    padding: 20px;
    font-size: 20px;
}

.openBtn {
    width: 80%;
    height: 40px;
    font-size: 20px;
    background-color: rgb(43, 162, 69);
    color: white;
    border-radius: 8px;
    border: none;
}

.none {
    display: none;
    width: 20%;
    height: 30px;
    background-color: rgb(43, 162, 69);
    color: white;
    border-radius: 5px;
    border: none;
}

.footer {
    position: fixed;
    bottom: 45px;
    z-index: 100;

    width: 100%;
    text-align: center;
}

.mainCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}

.content {

    position: fixed;
    height: 23vh;
    width: 100%;
    bottom: 0%;
    left: 0;
    z-index: 150;
    background: rgba(128, 128, 128, 0.5);
    padding-top: 1%;
    overflow: hidden;
    display: none;


}

.content > .theader {
    position: relative;
    width: 94%;
    margin: 0 auto;
    height: 20%;
    font-size: 1.0rem;
}

.content > #textcontent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    margin: 0 auto;
    background: transparent;
    outline: none;
    border: none;
    font-size: 0.8rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width:0px;
    height:0px;
    background-color:#F5F5F5;
}
/*定义滚动条轨道
 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color:#F5F5F5;
}
/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    background-color:#555;
}

#textcontent > p {
    position: relative;
    width: 94%;
    word-break: break-all;
    margin: 0 auto;
    pointer-events: none;
}


.image{
    display: none;
}

.image-btn, .graph-btn {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: center / 70% no-repeat url(../static/img/picture.png);
    position: fixed;
    right: 1%;
    top:2rem;
    border: 1px whitesmoke solid;
    box-shadow: 0px 0px 10px 1px #FFFFFE inset;
    z-index: 11150;
}

.graph {
    display: none;
}

.graph .graph-btn{
    left: 1%;
    right: auto;
    background: center / 70% no-repeat url(../static/img/connection.png);
}


.movie {
    display: none;
}

.movie .movie-btn {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: center / 70% no-repeat url(../static/img/movie.png);
    position: fixed;
    right: 1%;
    top: 6rem;
    border: 1px whitesmoke solid;
    box-shadow: 0px 0px 10px 1px #FFFFFE inset;
    z-index: 150;
}

.movie video {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 25%;
    display: none;
}


body, html {
    overflow: hidden;
    height: 100vh
}

#pageFirst, body, html {
    height: 100vh
}

* {
    padding: 0;
    margin: 0;
    border: 0
}

body {
    position: relative;
    font-size: 62.5%;
    background-color: #FFF;
    overflow-x: hidden;
    overflow-y: hidden
}

.none {
    display: none
}

.center {
    text-align: center
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0
}

#image, #graph{
    position: absolute;
    z-index: 999;
    width: 70vw;
    height: 70vw;
    top: 25vw;
    left: 15vw;
}

#pageFirst {
    width: 100%
}

#pageFirst #iosWxMini {
    text-align: center;
    color: #ffc935;
    font-size: 2vh;
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 22vh
}


#pageWxIos .tip {
    top: 9vh;
    right: 18vh
}


.maskerMsg, .page-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.page-bg {
    height: 100%;
    z-index: 1
}

.maskerMsg {
    z-index: 50000;
    text-align: center
}

.maskerMsg .masker {
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: .6
}

#pageWxIos .icon-wx-ios {
    position: absolute;
    top: 3vh;
    right: 3vh;
    height: 10vh;
}
#pageWxIos .tip {
    position: absolute;
    top: 9vh;
    right: 18vh;
    color:white;
    font-size:0.75rem;
}


#loading {
    background: transparent center / contain no-repeat url(../static/img/loading.svg);
    display: none;
    position: fixed;
    width: 30vh;
    height: 30vh;
    top: 24vh;
    left: calc( 50vw - 15vh );
    z-index: 999;
}




#scanline{
    display: none;
    position: fixed;
    width: 75vw;
    height: 75vw;
    top: 18vh;
    left: 12.5vw;
}

#scanline > p{
    width: 100%;
    height: 1.5rem;
    position: absolute;
    text-align: center;
    bottom: -2.2rem;
    left: 0;
    color: #00FFFF;
    font-size: 1rem;
}

#scanline > i{
    display: block;
    position: absolute;
    width: 86%;
    height: 2px;
    top: 10%;
    left: 7%;
    background: #00F7DE;
    animation: scan 3s 0s linear infinite;
    box-shadow: #00FFFF 0px -1px 6px 1px;

}

#scanline  span {
    display: block;
    position: absolute;
    width: 10%;
    height: 10%;
    border: #007DDB 3px solid;
    animation: blink 1s 0s infinite;
}

#scanline > span:nth-of-type(1){
    border-bottom: none;
    border-right: none;
    top: 0;
    left: 0;
}

#scanline > span:nth-of-type(2){
    border-left: none;
    border-bottom: none;
    top: 0;
    right: 0;
}

#scanline > span:nth-of-type(3){
    border-top: none;
    border-right: none;
    bottom: 0;
    left: 0;
}

#scanline > span:nth-of-type(4){
    border-top: none;
    border-left: none;
    bottom: 0;
    right: 0;
}


@keyframes blink {

    0% {
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

}


@keyframes scan {
    0% {
        top: 10%;
    }

    100%{
        top: 90%;
    }
}

